<!--views/base.ejs-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Express.js Web Framework</title>
        <link href="/fonts/setup.css" rel="stylesheet">
        <link href="/styles/base.css" rel="stylesheet">
        <script src="/scripts/jquery.js"></script>
    </head>
    <body>
        <p>Welcome to Khmer Web Blog Engine.</p>
    </body>
</html>